/*
OVERKSIFTER: font-family: 'Open Sans Condensed', sans-serif;
BRØDTEKST: font-family: 'Playfair Display', serif;

*/

* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
}

header {
    height: 19vw;
    width: 100vw;
}

.bannerBox {
    margin: 0;
    height: 15vw;
    text-align: center;
    position: relative;
}

img.bannerImg {
    width: 100vw;
    margin: 0;
    height: 15vw;
    object-fit: cover;
}

.bannerH1 {
    z-index: 1;
    color: white;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 35%;
    font-size: 3.5em;
    font-family: 'Open Sans Condensed', sans-serif;
}


/*Navigation:*/

nav {
    border-bottom: 1px solid green;
    height: 4vw;
    width: 100vw;
}

.navUl {
    float: left;
    padding: 0;
    margin: 1vw;
}

.navLi {
    float: left;
    list-style: none;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 4vw;
}

.navLiLogIn {
    float: right;
    margin-left: 4vw;
}

.navLiOpret {
    float: right;
    margin-left: 29vw;
}


/*FOOTER:*/

footer {
    width: 100vw;
    height: 5vw;
    border: 1px solid black;
    clear: both;
}


/*FORSIDE:*/

div.velkomstBox {
    width: 100vw;
    height: 16vw;
}

h2.velkomstH2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: auto;
    margin-top: 3vw;
}

p.velkomstTxt {
    font-family: 'Playfair Display', serif;
    width: 75vw;
    margin: auto;
    margin-top: 1vw;
}

.forsideImgBox {
    border: 1px solid black;
    float: left;
    width: 27vw;
    height: 38vw;
    margin-left: 5vw;
    margin-top: 1vw;
    margin-bottom: 4vw;
}

/* RECIPE */
.grid-container-recipe {
    display: grid; 
    grid-template-areas: 
        'recipe-title recipe-title'
        'recipe-image recipe-image'
        'icons icons'
        'recipe-ingredients recipe-description'; 
}

.recipe-title {
    grid-area: recipe-title;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.recipe-image {
    grid-area: recipe-image;
    background-image: url("assets/pestosnurre.jpg");
    background-size: cover;
	background-position: center, center;
	background-repeat: no-repeat;
    width: 100vw;
    height: 30vw;
}

.icons {
    grid-area: icons;
    display: grid;
    grid-template-areas:
        'preptime cooktime'; 
}

.preptime {
    grid-area: preptime;
    margin: 6vh 0 0 0;
}

.cooktime {
    grid-area: cooktime;
    margin: 6vh 0 0 0;
}

.preptime i, .cooktime i {
    font-size: 40px;
}

.recipe-ingredients {
    grid-area: recipe-ingredients;
    width: 35vw;
    height: auto;
    margin: 4vh 2vw;
}

.recipe-description {
    grid-area: recipe-description;
    width: 55vw;
    height: auto;
    margin: 4vh 2vw;
}

.recipe-description h1, .recipe-ingredients h1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.description {
    font-family: 'Playfair Display', serif;
    line-height: 1.5em;
    margin: 6vh 0 0 6vw;
}

.td1 {
    padding: 2vh 0vw;
}

.th1 {
    padding: 2vh 2vw;
    color: green;
}

.ingredients-list {
    font-family: 'Playfair Display', serif;
    line-height: 1.5em;
    margin: 6vh 0 0 6vw;
}

.th {
    padding: 1vh 1.5vw;
    color: green;
}
